<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jlumart.mapper.CourierMapper">
    <update id="update">
        UPDATE couriers
        <set>
        <if test="username != null">
            username = #{username},
        </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="balance != null">
                balance = balance + #{balance},
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="page" resultType="com.jlumart.vo.CourierPageVO">
        SELECT
        id,
        username,
        name,
        phone,
        email,
        avatar,
        sex,
        status,
        update_time
        FROM
        couriers
        <where>
            <if test="name != null and name != ''">
                and name like '%' || #{name} || '%'
            </if>
        </where>
    </select>
</mapper>