<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlumart.mapper.UserMapper">

<!--
    login_count、request_count、active_days、order_count、total_spent、cancel_count、cancel_value采用累加方式更新
-->
    <update id="update">
        UPDATE USERS <set>
        <if test="username != null">username = #{username},</if>
        <if test="name != null">name = #{name},</if>
        <if test="password != null">password = #{password},</if>
        <if test="sex != null">sex = #{sex},</if>
        <if test="avatar != null">avatar = #{avatar},</if>
        <if test="balance != null">balance = balance + #{balance},</if>
        <if test="phone != null">phone = #{phone},</if>
        <if test="email != null">email = #{email},</if>
        <if test="createTime != null">create_time = #{createTime},</if>
        <if test="updateTime != null">update_time = #{updateTime},</if>
        <if test="loginCount != null">login_count = login_count + #{loginCount},</if>
        <if test="requestCount != null">request_count = request_count + #{requestCount},</if>
        <if test="lastRequestTime != null">last_request_time = #{lastRequestTime},</if>
        <if test="activeDays != null">active_days = active_days + #{activeDays},</if>
        <if test="orderCount != null">order_count = order_count + #{orderCount},</if>
        <if test="totalSpent != null">total_spent = total_spent + #{totalSpent},</if>
        <if test="lastOrderTime != null">last_order_time = #{lastOrderTime},</if>
        <if test="cancelCount != null">cancel_count = cancel_count + #{cancelCount},</if>
        <if test="cancelValue != null">cancel_value = cancel_value + #{cancelValue},</if>
        <if test="lastCancelTime != null">last_cancel_time = #{lastCancelTime}</if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>